body {
  margin: 0;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-box {
  width: 600px;     /* makes it long */
  height: 200px;
  border: 3px solid black;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
}

p {
  font: Inter
}

.top-banner {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 70px;

  background-color: #ff8000;
  color: white;

  display: flex;
  align-items: center;
  padding-left: 20px;

  font-size: 24px;
  font-weight: bold;

  z-index: 1000; /* stays above everything */
}
